.delete {
  color: white;
  background-color: rgb(94, 91, 91);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 5px;
}
.todo {
  display: flex;
  padding: 10px 15px;
  background-color: #b4b7bb;
  border-bottom: 5px solid #ddd;
  margin-bottom: 3px;
}

.todo .content {
  flex: 1 1 100%;
}
