<div class="todos">
  <form (submit)="add()">
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter todo..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />
    <input type="submit" value="Add Todo" class="todo-submit" />
  </form>
  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="index">{{ i }}.</div>
    <div class="content" (click)="done(i)">{{ todo.content }}</div>
    <button class="delete" (click)="delete(i)">Remove</button>
  </div>
</div>
